[submodule "db-app/tpch/tpch-dbgen"]
	path = db-app/tpch/tpch-dbgen
	url = https://github.com/electrum/tpch-dbgen.git
[submodule "benignware/fbench/filebench"]
	path = benignware/fbench/filebench
	url = https://github.com/filebench/filebench.git
