**/*.tbl
*.zip
**/__pycache__/
**/trace.dat
**/outputs*
**/.nfs*
**/.ipynb*
data/results/
data/current_data/
data/models/
data/figures/
data/joblib/
**/output*
*.nfs*
*.out
*.pem
*.pid
*.dat
*.bin
*.zip
*.deb
